doctype html
html(lang="en")
  head
    title Word Heist!
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/views/admin.css')
    link(href="./node_modules/jsoneditor/dist/jsoneditor.min.css", rel="stylesheet", type="text/css")
    script(src="./node_modules/jsoneditor/dist/jsoneditor.min.js")
  body
    input(id="user" type="hidden" value=user.id.toHexString())
    input(id="data_port" type="hidden" value=admin.port)
    
    #row1
      #welcome
        |Do the Admin, #{user.user_name}
      #info
        |Here is some handy info
      #logout 
        input(id="home_btn" type="button" class="button" value="Home" height="35" width="50")
        input(id="logout_btn" type="button" class="button" value="Log Out" height="35" width="50")
        
    #row2
      #all_users
        |Logged In
        if User.current_users.length > 0
          each val, idx in User.current_users
            div(class="cur_user")
              div(class="cur_user_radio")
                input(id="cur_user_"+idx type="radio" name="cur_user" class="user_radio" height="35" width="50")
                label(for="cur_user_"+idx) #{val.user_name}
              div(class="cur_user_delete")
                input(id="user_save_btn_"+idx type="button" class="button" value="Save" height="35" width="50")
                input(id="user_delete_btn_"+idx type="button" class="button" value="Delete" height="35" width="50")
              
        else 
          |No logged in Users
          
      #user_lists
        #user_props
          div#roles 
            if user.role & User.player
              input(id="user_role_player" type="checkbox" name="user_role" class="user_role" 
                height="35" width="50" checked)
            else
              input(id="user_role_player" type="checkbox" name="user_role" class="user_role" 
                height="35" width="50")
            label(for="user_role_player") Player
            
            if user.role & User.admin
              input(id="user_role_admin" type="checkbox" name="user_role" class="user_role" 
                height="35" width="50" checked)
            else
              input(id="user_role_admin" type="checkbox" name="user_role" class="user_role" 
                height="35" width="50")
            label(for="user_role_admin") Admin

          div#user_data
            label(for="user_display_name") Display Name
            input(id="user_display_name" type="text" name="user_display_name" class="user_data" 
              height="35" width="50")
            label(for="user_email") Email
            input(id="user_email" type="email" name="user_email" class="user_data" 
              height="35" width="50")
            label(for="user_failed_login_oount") Failed Logins
            input(id="user_failed_login_count" type="number" name="user_failed_login_count" class="user_data" 
              height="35" width="50")
            label(for="user_last_lockout") Last Lockout
            input(id="user_last_lockout" type="datetime-local" name="user_last_lockout" class="user_data" 
              height="35" width="50")
            label(for="user_last_login") Last Login
            input(id="user_last_login" type="datetime-local" name="user_last_login" class="user_data" 
              height="35" width="50")
            
        #user_saved_games
          |User's saved games
          select(id="user_saved_games_lst")
            option(value=-1) No Selection
            each val, idx in user_saved_games
              option(value=idx) #{val.name}
            
        #user_active_games
          |User's active games
          select(id="user_active_games_lst")
            option(value=-1) No Selection
            each val, idx in user_a_games
              option(value=idx) #{val}

      #chat
        #chat_view
          #chat_text
            p(id=chat_para)
              |!{a_game_chat_text}
          textarea(id="chat_send_text" rows="2" cols="25" wrap="hard" placeholder="Type here ...")
          input(id="chat_send_btn" type="button" class="button" value="Send")
          input(id="broadcast_btn" type="button" class="button" value="'Cast")
          input(id="view_game_data" type="button" class="button" value="Game JSON")

        #data_view
          div(id="jsoneditor")
          input(id="view_chat" type="button" class="button" value="Chat") 
          
    #all_active_games
      |All Active Games
      if all_active_games.length > 0
        select(id="all_active_games_lst")
          option(value=-1) No Selection
          each val, idx in all_active_games
            option(value=val.port) #{val.name}
      else 
        |No Active Games

    script(src="../js/admin.js")
