//- Handles dynamic part of drawing grid - updating scoreboard,
//- drawing played tiles and either player1's or player2's hand
//-
//-  let t = get
//-  t.setAttributeNS(null, 'class', 'scoreboard_title');
//-  t.textContent = CurrentGame.name;

html
  head
    title Heist
    link(rel="stylesheet" type="text/css" href="./js/jsonTree.css")
    link(rel="stylesheet" href="https://use.typekit.net/cdx8egk.css")
    link(rel="stylesheet" type="text/css" href="heist.css")
  body(bgcolor='#2a2a2e')
    input(id="ws_port" type="hidden" value=port)
    input(id="is_practice" type="hidden" value=is_practice)
    input(id="current_game_id" type="hidden" value=game_id)
    input(id="user" type="hidden" value=user_id)
    input(id="is_admin" type="hidden" value=is_admin)
    
    div(id="swap_pop" class="swap_pop" style="{display : none}")
    
    - var cell_size = 35;
    
    //- if the layout is horizontal the scoreboard is vertical and the
    //- grid x is offset by the xy_offset. if the layout is vertical the
    //- grid y is offset by the xy_offset
    //- NOTE: THIS TEMPLATE SETS UP FOR A HORIZONTAL LAYOUT, ONLY! The 
    //- vertical layout is handled at the board.js getWindowSize callbak.
    - var scorebd_xy_offset = cell_size*2;
    input(id="scorebd_xy_offset" type="hidden" value=scorebd_xy_offset)
    - var player_panel_wh = cell_size*6;
    input(id="player_panel_wh" type="hidden" value=player_panel_wh)
    - var player_hand_xy_offset = cell_size/2;
    input(id="player_hand_xy_offset" type="hidden" value=player_hand_xy_offset)
    - var tiles_left_offset = cell_size + cell_size/4;
    input(id="tiles_left_offset" type="hidden" value=tiles_left_offset)
    - var tile_points_offX = 4;
    input(id="tile_points_offX" type="hidden" value=tile_points_offX)
    - var tile_points_offY = 9;
    input(id="tile_points_offY" type="hidden" value=tile_points_offY)

    if game.current_player == game.player_2
      input(id="current_player" type="hidden" value="/player2")
    else 
      input(id="current_player" type="hidden" value="/player1")
 
    - var player1_safe = "#eb008b";
    - var player1_risky = "#f179af";
    - var player2_safe = "#0072bc";
    - var player2_risky = "#44c7f4";

    - var grid_wh = cell_size*15;
    - var grid_n_pp = grid_wh + player_panel_wh;

    - var full_play_area = `0 0 ${grid_wh} ${grid_n_pp}` 
    - var vert_scorebd = `0 0 ${grid_wh} ${scorebd_xy_offset}`; 

    svg(id="every_damn_thing" x=0 y=0 viewBox=`0 0 ${grid_wh} ${scorebd_xy_offset+grid_n_pp}` xmlns="http:www.w3.org2000svg")
      //- scoreboard for vertical board - outside the wt_board so everything can stay 0 based
      svg(id="scoreboard" x="0" y="0" width=grid_wh height=scorebd_xy_offset)
        rect(id="scoreboard_bg" x="0" y="0" width=grid_wh height=scorebd_xy_offset fill="black")
        svg(id="back_arrow" x="0" y=0 width=cell_size height=scorebd_xy_offset viewBox=`0 0 ${cell_size} ${2*cell_size}`)
            polyline(stroke="#fff" stroke-width=3 points="30,15 7,35 30,55" stroke-line-join=miter)
        rect(id="back_on_click" class="controls" x=0  y=0 width=cell_size height=scorebd_xy_offset fill="#fff" fill-opacity=0)

        //- player 1 scoreboard
        svg(id="player1" x=cell_size y=0 width=cell_size*6 height=scorebd_xy_offset)
          if game.current_player == game.player_1
            circle(id="player1_photo" cx=cell_size cy=cell_size r=2*cell_size/3 fill=player1_risky stroke="red" stroke-width="3")
          else
            circle(id="player1_photo" cx=cell_size cy=cell_size r=2*cell_size/3 fill=player1_risky)

          svg(id="player1_stats" x=2*cell_size y=0 width=cell_size*4 height=scorebd_xy_offset viewBox=`0 0 ${cell_size*4} ${scorebd_xy_offset}`)
            text(id="player1_score" class="player_stats_cls" x=0 y=cell_size/2 width=cell_size height=cell_size/2 stroke_width=2 stroke="white" 
              text-align="start" alignment-baseline="central" font-size="18")
              |#{game.player_1.total_points}

            svg(x=cell_size*2 y=7 height=cell_size/2 width=cell_size viewBox="0 0 180 180"
              class="player_lock_cls" id="player1_lock" preserveAspectRatio="xMidYMid meet")
              path(class="player_lock_cls" fill=player1_safe fill-rule="evenodd"
                  d="M151.4,84.32h-3.94v-26a47.46,47.46,0,0,0-94.91,0v26H48.6A14.72,14.72,0,0,0,33.89,99v75.38a14.71,14.71,0,0,0,14.71,14.7H151.4a14.75,14.75,0,0,0,14.71-14.7V99A14.75,14.75,0,0,0,151.4,84.32ZM116,169H84l7.29-30a19.09,19.09,0,1,1,17.48,0Zm11.89-84.67H72.08v-26a27.92,27.92,0,0,1,55.84,0Z")
            //- these consts arrived at through experiment       
            text(id="player1_lock_pts" class="player_stats_cls" x=3*cell_size/2 y=cell_size/2 width=cell_size height=cell_size stroke_width=2 
              stroke=player1_safe fill=player1_safe text-align="start" alignment-baseline="central")
              |#{game.player_1.safe_points}

            text(id="player1_name" class="player_stats_cls" x="0" y="45" font-size="18"
              width=scorebd_xy_offset height=cell_size stroke_width=2 stroke="white" 
              text-align="start" alignment-baseline="central")
              |#{game.player_1.name}

        svg(id="p1_vs_p2" class="player_stats_cls" x=255 y=30 width=35 height=65 viewBox=`0 0 30 30`)
          text(x="0" y="0" width=cell_size height=cell_size stroke_width=1 fill="white" font-size="10"
            text-align="start" alignment-baseline="central")
            |vs.
          rect(id="bookmark_log" class="controls" x=-5 y=-5 width=20 height=15 fill="#fff" stroke="black" fill-opacity=0)

        //- player 2 scoreboard
        svg(id="player2" x=8*cell_size y=0 width=6*cell_size height=scorebd_xy_offset)
          svg(id="player2_stats" x=45 y=0 width=cell_size*4 height=scorebd_xy_offset 
            viewBox=`0 0 ${cell_size*4} ${scorebd_xy_offset}`)
            
            svg(x=-10 y=7 width=cell_size height=cell_size/2 viewBox="0 0 180 180"
              class="player_lock_cls" id="player2_lock" preserveAspectRatio="xMidYMid meet")
              path(class="player_lock_cls" fill=player2_safe fill-rule="evenodd"
                  d="M151.4,84.32h-3.94v-26a47.46,47.46,0,0,0-94.91,0v26H48.6A14.72,14.72,0,0,0,33.89,99v75.38a14.71,14.71,0,0,0,14.71,14.7H151.4a14.75,14.75,0,0,0,14.71-14.7V99A14.75,14.75,0,0,0,151.4,84.32ZM116,169H84l7.29-30a19.09,19.09,0,1,1,17.48,0Zm11.89-84.67H72.08v-26a27.92,27.92,0,0,1,55.84,0Z")
            text(id="player2_lock_pts" class="player_stats_cls" x=cell_size y=cell_size/2 width=cell_size height=cell_size stroke_width=2 
              stroke=player2_safe fill=player2_safe text-align="start" alignment-baseline="central")
              |#{game.player_2.safe_points}

            text(id="player2_score" class="player_stats_cls" x="95" y="25" width=cell_size height=cell_size stroke_width=2 stroke="white" 
              text-anchor="end" font-size="18" )
              |#{game.player_2.total_points}
            text(id="player2_name" class="player_stats_cls" x=95 y=45 font-size="18" 
              width=scorebd_xy_offset height=cell_size stroke_width=2 stroke="white" 
              text-anchor="end" alignment-baseline="central")
              |#{game.player_2.name}

          if game.current_player == game.player_2
            circle(id="player2_photo" cx=5*cell_size cy=cell_size r=2*cell_size/3 fill=player2_risky stroke="red" stroke-width="3")
          else
            circle(id="player2_photo" cx=5*cell_size cy=cell_size r=2*cell_size/3 fill=player2_risky)

        svg(id="question" x=480 y= -5 width=cell_size height=2*cell_size viewBox=`0 0 130 130`)
          path(fill="none" stroke="white" stroke-width=15 d="M60,67c0-13 1-19 8-26c7-9 18-10 28-8c10,2 22,12 22,26c0,14-11,19-15,22c-7,2-10,6-11,11v20m0,12v16")
        rect(id="question_click" class="controls" x=480  y=-10 width=cell_size height=2*cell_size fill="#fff" fill-opacity=0)

      svg(id='wt_board' viewBox=full_play_area x=0 y=scorebd_xy_offset width=grid_wh height=grid_wh+player_panel_wh) 
        //- so we can set the background color
        //- rjv width and height are the same, only the x offset for scoreboard handled here
        rect(id="grid_background" x="0" y="0" width=grid_wh height=grid_wh fill="#333333")
        
        //- all the grid lines
        - var i = 0;
        while i < Game.NUM_ROWS_COLS + 1
          line(class='line_horizontal' x1="0" y1=i*cell_size x2=grid_wh y2=i*cell_size stroke="black" stroke_width=2)
          line(class='line_vertical' x1=i*cell_size y1="0" x2=i*cell_size y2=grid_wh stroke="black" stroke_width=2)
          - i++;

        //- safe squares 
        each s, idx in Game.SAFE_INDEXES
          svg(x=((s.row-1)*cell_size)+1 y=((s.col-1)*cell_size)+1 width=cell_size-1 height=cell_size-1 viewBox="-40 -30 280 280"
            class="safety_square" fill="#555555") //- preserveAspectRatio="xMidYMid meet" fill-rule="evenodd")
            rect(x="-40" y="-30" width="275" height="275" fill="#555555")
            path(class="lock" fill="black"
                d="M151.4,84.32h-3.94v-26a47.46,47.46,0,0,0-94.91,0v26H48.6A14.72,14.72,0,0,0,33.89,99v75.38a14.71,14.71,0,0,0,14.71,14.7H151.4a14.75,14.75,0,0,0,14.71-14.7V99A14.75,14.75,0,0,0,151.4,84.32ZM116,169H84l7.29-30a19.09,19.09,0,1,1,17.48,0Zm11.89-84.67H72.08v-26a27.92,27.92,0,0,1,55.84,0Z")
          
        //- center/start 
        - var center = {row: Math.round(15/2), col: Math.round(15/2)};
        rect(x=((center.row-1)*cell_size)+1 y=((center.col-1)*cell_size)+1 width=cell_size-2 height=cell_size-2 
          stroke=player1_risky class="center_square")
        text(id="center_start_txt" x=(center.row-1)*cell_size+cell_size/2 y=(center.row-1)*cell_size+cell_size/3 width=cell_size height=cell_size/6 
          text-anchor="middle" alignment-baseline="central" class="center_text")
          |START
        text(id="center_here_txt" x=(center.row-1)*cell_size+cell_size/2 y=(center.row-1)*cell_size+2*cell_size/3 width=cell_size height=cell_size/6 
          text-anchor="middle" alignment-baseline="central" class="center_text")
          |HERE
        
        //- Words 
        each w, idx in game.words
          each t, tidx in w.tiles 
            svg(id="tile_"+t.id x=((t.column-1)*cell_size)+1 y=((t.row-1)*cell_size)+1 width=cell_size-2 height=cell_size-2 
              class="word_tile_svg")
              if t.player == game.player_1
                if t.is_safe
                  rect(x="0" y="0" width=cell_size height=cell_size fill=player1_safe
                    stroke_width=1 stroke='#000' class="tile_rect")
                else
                  rect(x="0" y="0" width=cell_size height=cell_size fill=player1_risky
                    stroke_width=1 stroke='#000' class="tile_rect")
              else
                if t.is_safe
                  rect(x="0" y="0" width=cell_size height=cell_size fill=player2_safe
                    stroke_width=1 stroke='#000' class="tile_rect")
                else
                  rect(x="0" y="0" width=cell_size height=cell_size fill=player2_risky
                    stroke_width=1 stroke='#000' class="tile_rect")
                
              line(class='hilite_top_left' x1=1 y1=1 x2=cell_size-2 y2=1 stroke="white" stroke_width=1 fill="white" stroke-opacity=.4)
              line(class='hilite_top_left' x1=1 y1=1 x2=1 y2=cell_size-2 stroke="white" stroke_width=1 fill="white" stroke-opacity=.4)
              line(class='hilite_bottom_right' x1=1 y1=cell_size-2 x2=cell_size-2 y2=cell_size-2 stroke="black" fill="black" stroke-opacity=.4 stroke_width=1)
              line(class='hilite_bottom_right' x1=cell_size-2 y1=1 x2=cell_size-2 y2=cell_size-2 stroke="black" fill="black" stroke-opacity=.4 stroke_width=1)

              if t.status & Game.is_blank 
                polygon(points="3,3 15,3 3,15" fill="black")
              else
                polygon(points="3,3 15,3 3,15" fill="white" fill-opacity=0)

              text(x=cell_size/2 y=cell_size/2 width=cell_size-2 height=cell_size-2 stroke_width=2 stroke="#000" 
                text-anchor="middle" alignment-baseline="central" class="tile_text")
                |#{t.char}
              text(x=cell_size-tile_points_offX y=cell_size-tile_points_offY width=cell_size*.2 height=cell_size*.2 stroke_width="1" stroke="#000" 
                text-anchor="end" alignment-baseline="central" class='tile_points')
                |#{t.points}        
            rect(class="tilehook" fill="#fff" fill-opacity=0 
              id="tilehook_"+t.id x=(t.column-1)*cell_size y=(t.row-1)*cell_size width=cell_size height=cell_size) 
              
        rect(id="player_panel" x=0 y=grid_wh width=grid_wh height=player_panel_wh fill="black")

        svg(id="tiles_left" x=20 y=283 width=480 height=640)
          g()
            text(fill="white" font-family="museo-sans, sans-serif" font-size="24" id="tiles_left_vert" stroke="#000000" 
              stroke-width="0" text-anchor="left" x=5 y=277 xml:space="preserve")
              |TILES LEFT:
          text(id="tiles_left_count" x=160 y=276 width=8*cell_size height=cell_size font-size="14pt" stroke="white" text-anchor="middle")
            |#{game.tile_pool.length}

        svg(id="s_count" x=380 y=510 width=game.total_s_count*cell_size height=4*cell_size viewBox="-10 -50 140 140")
          g()
            - var i = 1;
            while i <= game.total_s_count
              if i <= game.played_s_count
                text(fill="white" font-family="museo-sans, sans-serif" font-size="24" class="s_count" id="s_count"+i stroke="white" 
                  stroke-width="2" text-anchor="middle" x=(i-1)*cell_size y=0)
                  |S
              else 
                text(fill="grey" font-family="museo-sans, sans-serif" font-size="24" class="s_count" id="s_count"+i stroke="grey" 
                  stroke-width="2" text-anchor="middle" x=(i-1)*cell_size y=0)
                  |S
              - i++

        //- player tiles    
        if player == "/player1"
          each t, idx in game.player_1.tiles 
            if t
              svg(id="tile_"+t.id x=player_hand_xy_offset+idx*2*cell_size y=cell_size*15+tiles_left_offset+10 
                width=2*cell_size height=2*cell_size viewBox=`0 0 ${cell_size} ${cell_size}` 
                preserveAspectRatio="xMidYMid meet" class="player_tile_svg")
                if t.is_safe
                  rect(x="0" y="0" width=cell_size height=cell_size fill=player1_safe
                    stroke_width=1 stroke='#000' class="tile_rect")
                else
                  rect(x="0" y="0" width=cell_size height=cell_size fill=player1_risky
                    stroke_width=1 stroke='#000' class="tile_rect")

                line(class='hilite_top_left' x1=1 y1=1 x2=cell_size-2 y2=1 stroke="white" fill="white" stroke-opacity=.4 stroke_width=1)
                line(class='hilite_top_left' x1=1 y1=1 x2=1 y2=cell_size-2 stroke="white" fill="white" stroke-opacity=.4 stroke_width=1)
                line(class='hilite_bottom_right' x1=1 y1=cell_size-1 x2=cell_size-1 y2=cell_size-1 stroke="black" fill="black" stroke-opacity=.4 stroke_width=1)
                line(class='hilite_bottom_right' x1=cell_size-1 y1=1 x2=cell_size-1 y2=cell_size-1 stroke="black" fill="black" stroke-opacity=.4 stroke_width=1)

                if t.status & Game.is_blank 
                  polygon(points="3,3 15,3 3,15" fill="black")
                  text(class="wild_tile" x=cell_size/2 y=cell_size/2 width=cell_size-2 height=cell_size-2 stroke_width=2 stroke="#000" 
                    text-anchor="middle" alignment-baseline="central" class="tile_text")
                    |WILD
                else
                  polygon(points="3,3 15,3 3,15" fill="white" fill-opacity=0)
                  text(x=cell_size/2 y=cell_size/2 width=cell_size-2 height=cell_size-2 stroke_width=2 stroke="#000" 
                    text-anchor="middle" alignment-baseline="central" class="tile_text")
                    |#{t.char}

                text(x=cell_size-tile_points_offX y=cell_size-tile_points_offY width=cell_size*.2 height=cell_size*.2 stroke_width="1" stroke="#000" 
                  text-anchor="end" alignment-baseline="central" class='tile_points')
                  |#{t.points}
        else
          each t, idx in game.player_2.tiles 
            if t
              svg(id="tile_"+t.id x=player_hand_xy_offset+idx*2*cell_size y=cell_size*15+tiles_left_offset+10 
                width=2*cell_size height=2*cell_size viewBox=`0 0 ${cell_size} ${cell_size}` 
                preserveAspectRatio="xMidYMid meet" class="player_tile_svg")
                if t.is_safe
                  rect(x="0" y="0" width=cell_size height=cell_size fill=player2_safe
                    stroke_width=1 stroke='#000' class="tile_rect")
                else
                  rect(x="0" y="0" width=cell_size height=cell_size fill=player2_risky
                    stroke_width=1 stroke='#000' class="tile_rect")

                line(class='hilite_top_left' x1=1 y1=1 x2=cell_size-2 y2=1 stroke="white" fill="white" stroke-opacity=.4 stroke_width=1)
                line(class='hilite_top_left' x1=1 y1=1 x2=1 y2=cell_size-2 stroke="white" fill="white" stroke-opacity=.4 stroke_width=1)
                line(class='hilite_bottom_right' x1=1 y1=cell_size-1 x2=cell_size-1 y2=cell_size-1 stroke="black" fill="black" stroke-opacity=.4 stroke_width=1)
                line(class='hilite_bottom_right' x1=cell_size-1 y1=1 x2=cell_size-1 y2=cell_size-1 stroke="black" fill="black" stroke-opacity=.4 stroke_width=1)

                if t.status & Game.is_blank 
                  polygon(points="3,3 15,3 3,15" fill="black")
                  text(class="wild_tile" x=cell_size/2 y=cell_size/2 width=cell_size-2 height=cell_size-2 stroke_width=2 stroke="#000" 
                    text-anchor="middle" alignment-baseline="central")
                    |WILD
                else
                  polygon(points="3,3 15,3 3,15" fill="white" fill-opacity=0)
                  text(x=cell_size/2 y=cell_size/2 width=cell_size-2 height=cell_size-2 stroke_width=2 stroke="#000" 
                    text-anchor="middle" alignment-baseline="central" class="tile_text")
                    |#{t.char}

                text(x=cell_size-tile_points_offX y=cell_size-tile_points_offY width=cell_size*.2 height=cell_size*.2 stroke_width="1" stroke="#000" 
                  text-anchor="end" alignment-baseline="central" class='tile_points')
                  |#{t.points}

        //- - var controls_offset = grid_wh + tiles_left_offset + 2*cell_width + 20;
        - var controls_offset = 670
        svg(class="controls" id="pass_ctrl" fill="#fff" preserveAspectRatio="xMidYMid meet" width="60" viewBox="50 35 195 400" 
          height="60" x=20 y=controls_offset )
          path(class="ctrl_cls-1"
              d="M93.94,275.66v-50h21c10.26,0,16,7,16,15.36s-5.76,15.35-16,15.35H101.44v19.26ZM114,232.28H101.44v17.53H114c5.4,0,9.23-3.52,9.23-8.76S119.41,232.28,114,232.28Z") 
          path(class="ctrl_cls-1"
              d="M168.66,275.66l-4-10.34H140.12l-4.05,10.34h-8.25l19.86-50h9.37l19.86,50Zm-16.33-43.45-10,26.44h20.15Z") 
          path(class="ctrl_cls-1"
              d="M183.22,262.85a21.09,21.09,0,0,0,15.73,7c8.1,0,10.94-4.12,10.94-7.72,0-5.24-5.69-6.74-12.06-8.39-8-2.1-17.31-4.42-17.31-14.61,0-8.24,7.26-14.23,17.69-14.23,7.7,0,13.78,2.47,18.2,7l-4.35,5.55a19.5,19.5,0,0,0-14.46-5.84c-5.54,0-9.36,2.84-9.36,7,0,4.49,5.39,5.92,11.61,7.49,8.16,2.17,17.68,4.72,17.68,15.36,0,7.79-5.4,15.06-18.88,15.06-8.91,0-15.43-3.22-19.71-7.94Z") 
          path(class="ctrl_cls-1"
              d="M227.44,262.85a21.12,21.12,0,0,0,15.74,7c8.09,0,10.94-4.12,10.94-7.72,0-5.24-5.7-6.74-12.06-8.39-8-2.1-17.31-4.42-17.31-14.61,0-8.24,7.27-14.23,17.68-14.23,7.72,0,13.78,2.47,18.2,7l-4.33,5.55a19.53,19.53,0,0,0-14.46-5.84c-5.56,0-9.37,2.84-9.37,7,0,4.49,5.39,5.92,11.6,7.49,8.18,2.17,17.7,4.72,17.7,15.36,0,7.79-5.4,15.06-18.89,15.06-8.92,0-15.44-3.22-19.7-7.94Z") 
          path(class="ctrl_cls-1" d="M96.41,365.62V322.24H80.9v-6.59h38.43v6.59H103.9v43.38Z") 
          path(class="ctrl_cls-1"
              d="M127.14,315.65h7.57v30.19c0,8.54,4.73,14,13.48,14s13.42-5.47,13.42-14V315.65h7.56V346c0,12.44-7,20.53-21,20.53s-21-8.17-21-20.46Z") 
          path(class="ctrl_cls-1"
              d="M209.14,365.62l-11.91-19.26h-9.36v19.26h-7.49v-50h21c9.52,0,16,6.14,16,15.36,0,9-6.08,13.78-12.44,14.61l12.81,20Zm-8.69-43.38H187.87v17.53h12.58c5.39,0,9.29-3.52,9.29-8.76S205.84,322.24,200.45,322.24Z")
          path(class="ctrl_cls-1" d="M261.84,365.62,234.2,327.26v38.36h-7.49v-50h7.7l27.2,37.45V315.65h7.49v50Z")
          path(class="ctrl_cls-1"
              d="M237.24,81.4,214.75,58.91a2.5,2.5,0,0,0-3.53,3.53l18.22,18.22H145.52a30,30,0,0,0,0,60,2.5,2.5,0,0,0,0-5,25,25,0,0,1,0-50h83.92l-18.22,18.23a2.5,2.5,0,0,0,3.53,3.53l22.49-22.49A2.49,2.49,0,0,0,237.24,81.4Z")
        rect(id="pass_on_click" class="controls" x=20 y=controls_offset width=60 height=60 fill="#fff" fill-opacity=0)
          
        svg(class="controls" id="swap_ctrl" fill="#fff" preserveAspectRatio="xMidYMid meet" width="60" viewBox="50 20 210 400" 
                height="60" x=100 y=670)
          path(class="ctrl_cls-1"
              d="M80.4,262.85a21.1,21.1,0,0,0,15.74,7c8.09,0,10.93-4.12,10.93-7.72,0-5.24-5.69-6.74-12-8.39-8-2.1-17.31-4.42-17.31-14.61,0-8.24,7.27-14.23,17.68-14.23,7.72,0,13.78,2.47,18.2,7l-4.34,5.55a19.5,19.5,0,0,0-14.46-5.84c-5.55,0-9.36,2.84-9.36,7,0,4.49,5.38,5.92,11.6,7.49,8.17,2.17,17.69,4.72,17.69,15.36,0,7.79-5.39,15.06-18.88,15.06-8.92,0-15.44-3.22-19.7-7.94Z")
          path(class="ctrl_cls-1"
              d="M161.72,275.66l-10.41-38.59L141,275.66h-8l-14.3-50H127l10.34,40.08,10.94-40.08h6.07l10.85,40.08,10.34-40.08H184l-14.23,50Z")
          path(class="ctrl_cls-1"
              d="M222.6,275.66l-4-10.34H194.06L190,275.66h-8.25l19.86-50H211l19.85,50Zm-16.33-43.45-10,26.44h20.15Z")
          path(class="ctrl_cls-1"
              d="M236.86,275.66v-50h21.05c10.26,0,15.95,7,15.95,15.36s-5.76,15.35-15.95,15.35H244.36v19.26Zm20.08-43.38H244.36v17.53h12.58c5.39,0,9.22-3.52,9.22-8.76S262.33,232.28,256.94,232.28Z")
          path(class="ctrl_cls-1" d="M99,365.62V322.24H83.49v-6.59h38.43v6.59H106.49v43.38Z")
          path(class="ctrl_cls-1" d="M129.74,365.62v-50h7.49v50Z")
          path(class="ctrl_cls-1" d="M148.41,365.62v-50h7.49V359h22.7v6.6Z")
          path(class="ctrl_cls-1" d="M186.86,365.62v-50h33.57v6.59H194.36v14.61h25.55v6.59H194.36V359h26.07v6.6Z")
          path(class="ctrl_cls-1"
              d="M231,352.81a21.12,21.12,0,0,0,15.74,7c8.09,0,10.94-4.12,10.94-7.72,0-5.24-5.7-6.74-12.06-8.39-8-2.1-17.31-4.42-17.31-14.61,0-8.24,7.27-14.23,17.68-14.23,7.72,0,13.78,2.47,18.2,7l-4.33,5.55a19.53,19.53,0,0,0-14.46-5.84c-5.56,0-9.37,2.84-9.37,7,0,4.49,5.39,5.92,11.6,7.49,8.18,2.17,17.7,4.72,17.7,15.36,0,7.79-5.4,15.06-18.89,15.06-8.92,0-15.44-3.22-19.7-7.94Z")
          path(class="ctrl_cls-1"
              d="M109.9,99.41a55,55,0,0,1,104-25h-24a2.5,2.5,0,1,0,0,5h32.49V46.93a2.5,2.5,0,1,0-5,0V70.42a60,60,0,0,0-112.45,29,2.5,2.5,0,0,0,5,0Z")
          path(class="ctrl_cls-1"
              d="M222.35,96.91a2.5,2.5,0,0,0-2.5,2.5,55,55,0,0,1-103.95,25h24a2.5,2.5,0,0,0,0-5H107.4v32.48a2.5,2.5,0,0,0,5,0V128.39a60,60,0,0,0,112.45-29A2.5,2.5,0,0,0,222.35,96.91Z")
        rect(id="swap_on_click" class="controls" x=100 y=controls_offset width=60 height=60 fill="#fff" fill-opacity=0)

        svg(class="controls" id="play_ctrl" fill="#fff" preserveAspectRatio="xMidYMid meet" width=110 viewBox="0 25 440 140" 
          height="40" x=210 y=controls_offset+10)
          rect(class="play_cls2" id="play_ctrl_rect" x="18.07" y="17.58" width="418" height="152" rx="76" fill="white")
          path(class="play_cls" fill="none"
            d="M124.66,124.44V64.55h28c13,0,20.11,8.8,20.11,19.3S165.61,103,152.68,103H137.41v21.46ZM151,75.5H137.41V92H151c5,0,8.8-3.24,8.8-8.27S156,75.5,151,75.5Z")
          path(class="play_cls"  fill="none" d="M180.69,124.44V64.55h12.75v48.67h25.32v11.22Z")
          path(class="play_cls" fill="none"
            d="M269.59,124.44l-3.78-10.32H239.06l-3.78,10.32h-14l23.17-59.89h16l23.08,59.89ZM252.43,75.59l-10,27.48h19.84Z")
          path(class="play_cls" fill="none" d="M299.75,124.44V99.93L276.68,64.55h14.54l14.91,24.06,14.73-24.06H335.4L312.51,99.93v24.51Z")
        rect(id="play_on_click" class="controls" x=220 y=680 width=80 height=40 fill="#fff" fill-opacity=0)

        svg(class="controls" id="recall_ctrl" fill="#fff" preserveAspectRatio="xMidYMid meet" width="60" viewBox="50 10 210 400" 
          height="60" x=360 y=668)
          path(class="ctrl_cls-1"
              d="M74.54,275.66,62.62,256.4H53.26v19.26H45.77v-50h21c9.52,0,16,6.14,16,15.36,0,9-6.08,13.78-12.44,14.61l12.81,20Zm-8.7-43.38H53.26v17.53H65.84c5.4,0,9.29-3.52,9.29-8.76S71.24,232.28,65.84,232.28Z")
          path(class="ctrl_cls-1" d="M92.09,275.66v-50h33.57v6.59H99.58v14.61h25.55v6.59H99.58v15.58h26.08v6.6Z")
          path(class="ctrl_cls-1"
              d="M133,250.71c0-15.36,11.39-25.85,25.63-25.85a22.59,22.59,0,0,1,19.85,10.57l-6.37,3.37a15.82,15.82,0,0,0-13.48-7.27c-10.12,0-17.91,7.94-17.91,19.18s7.79,19.18,17.91,19.18a15.82,15.82,0,0,0,13.48-7.27l6.37,3.37c-4,5.85-10,10.57-19.85,10.57C144.34,276.56,133,266.07,133,250.71Z")
          path(class="ctrl_cls-1"
              d="M221.31,275.66l-4.05-10.34H192.77l-4.05,10.34h-8.25l19.86-50h9.37l19.86,50ZM205,232.21l-10,26.44h20.15Z")
          path(class="ctrl_cls-1" d="M235.58,275.66v-50h7.49v43.37h22.7v6.6Z")
          path(class="ctrl_cls-1" d="M274,275.66v-50h7.5v43.37h22.7v6.6Z")
          path(class="ctrl_cls-1" d="M97.71,365.62V322.24H82.2v-6.59h38.43v6.59H105.2v43.38Z")
          path(class="ctrl_cls-1" d="M128.45,365.62v-50h7.49v50Z")
          path(class="ctrl_cls-1" d="M147.12,365.62v-50h7.49V359h22.71v6.6Z")
          path(class="ctrl_cls-1" d="M185.57,365.62v-50h33.57v6.59H193.07v14.61h25.55v6.59H193.07V359h26.07v6.6Z")
          path(class="ctrl_cls-1"
              d="M229.73,352.81a21.08,21.08,0,0,0,15.73,7c8.09,0,10.94-4.12,10.94-7.72,0-5.24-5.7-6.74-12.06-8.39-8-2.1-17.31-4.42-17.31-14.61,0-8.24,7.27-14.23,17.68-14.23,7.72,0,13.78,2.47,18.2,7l-4.33,5.55a19.53,19.53,0,0,0-14.46-5.84c-5.56,0-9.37,2.84-9.37,7,0,4.49,5.39,5.92,11.6,7.49,8.18,2.17,17.7,4.72,17.7,15.36,0,7.79-5.4,15.06-18.89,15.06-8.92,0-15.43-3.22-19.7-7.94Z")
          path(class="ctrl_cls-1"
              d="M193.14,145.12l-18.22,18.22V89.41a2.5,2.5,0,0,0-5,0v73.93l-18.23-18.22a2.5,2.5,0,0,0-3.53,3.53l22.49,22.49a2.49,2.49,0,0,0,1.77.73,2.45,2.45,0,0,0,1.76-.73l22.49-22.49a2.5,2.5,0,0,0-3.53-3.53Z")
          path(class="ctrl_cls-1"
              d="M119.94,26.94v100h32.49a2.5,2.5,0,0,0,0-5H124.94v-90h95v90H192.41a2.5,2.5,0,1,0,0,5h32.48V26.94Z")
        rect(id="recall_on_click" class="controls" x=360 y=controls_offset width=60 height=60 fill="#fff" fill-opacity=0)

        svg(class="controls" id="last_played_ctrl" fill="#fff" preserveAspectRatio="xMidYMid meet" width="60" viewBox="50 30 210 400" 
          height="60" x=430 y=controls_offset)
          path(class="ctrl_cls-1"
              d="M19.88,262.85a21.07,21.07,0,0,0,15.72,7c8.1,0,10.95-4.12,10.95-7.72,0-5.24-5.7-6.74-12.07-8.39-8-2.1-17.31-4.42-17.31-14.61,0-8.24,7.27-14.23,17.69-14.23,7.71,0,13.78,2.47,18.2,7l-4.35,5.55a19.5,19.5,0,0,0-14.46-5.84c-5.54,0-9.36,2.84-9.36,7,0,4.49,5.4,5.92,11.61,7.49,8.16,2.17,17.68,4.72,17.68,15.36,0,7.79-5.39,15.06-18.88,15.06-8.91,0-15.42-3.22-19.7-7.94Z")
          path(class="ctrl_cls-1" d="M62.91,275.66v-50H96.46v6.59H70.4v14.61H95.94v6.59H70.4v15.58H96.46v6.6Z")
          path(class="ctrl_cls-1" d="M105.86,275.66v-50h33.57v6.59H113.35v14.61H138.9v6.59H113.35v15.58h26.08v6.6Z")
          path(class="ctrl_cls-1" d="M168.15,275.66v-50h7.49v43.37h22.71v6.6Z")
          path(class="ctrl_cls-1"
              d="M242.28,275.66l-4.06-10.34H213.73l-4,10.34h-8.24l19.86-50h9.36l19.86,50Zm-16.34-43.45-10,26.44h20.16Z")
          path(class="ctrl_cls-1"
              d="M256.84,262.85a21.08,21.08,0,0,0,15.73,7c8.09,0,10.94-4.12,10.94-7.72,0-5.24-5.7-6.74-12.06-8.39-8-2.1-17.3-4.42-17.3-14.61,0-8.24,7.26-14.23,17.67-14.23,7.72,0,13.79,2.47,18.2,7l-4.33,5.55a19.52,19.52,0,0,0-14.46-5.84c-5.55,0-9.37,2.84-9.37,7,0,4.49,5.39,5.92,11.61,7.49,8.17,2.17,17.69,4.72,17.69,15.36,0,7.79-5.4,15.06-18.88,15.06-8.93,0-15.44-3.22-19.71-7.94Z")
          path(class="ctrl_cls-1" d="M311.48,275.66V232.28H296v-6.59H334.4v6.59H319v43.38Z")
          path(class="ctrl_cls-1"
              d="M118.28,365.62V325.91l-16.19,39.71H98.94L82.77,325.91v39.71h-7.5v-50H86l14.53,35.88,14.54-35.88h10.71v50Z")
          path(class="ctrl_cls-1"
              d="M160,314.82c14.92,0,25.17,11,25.17,25.85S174.88,366.52,160,366.52s-25.17-11-25.17-25.85S145.06,314.82,160,314.82Zm0,6.67c-10.7,0-17.45,8.17-17.45,19.18s6.75,19.18,17.45,19.18,17.47-8.24,17.47-19.18S170.53,321.49,160,321.49Z")
          path(class="ctrl_cls-1" d="M207.43,365.62l-19.86-50h8.54l16,41.8,16-41.8h8.54l-19.86,50Z")
          path(class="ctrl_cls-1" d="M242.67,365.62v-50h33.56v6.59H250.16v14.61H275.7v6.59H250.16V359h26.07v6.6Z")
          polygon(class="ctrl_cls-2" points="149.74 135.83 73.72 94.66 149.74 53.48 149.74 135.83")
          polygon(class="ctrl_cls-2" points="238.68 135.83 162.65 94.66 238.68 53.48 238.68 135.83")
        rect(id="last_played_on_click" class="controls" x=420 y=controls_offset width=60 height=60 fill="#fff" fill-opacity=0)
        
  script(src="./js/plain-draggable.min.js")
  script(src="./js/jsonTree.js")
  script(src="./js/board.min.js")
    
