doctype html
html(lang="en")
  head
    title Word Heist!
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='views/user.css')
  body
    input(id="user_display_name" type="hidden" value=user.display_name)
    input(id="user" type="hidden" value=user.id.toHexString())

    #row1
      #welcome
        |Welcome to Word Hiest, #{user.display_name}
      #info
        |Here is some handy info
      #logout 
        if (user.role & User.admin)
          input(id="admin_btn" type="button" class="button" value="Admin" height="35" width="50")
        input(id="logout_btn" type="button" class="button" value="Log Out" height="35" width="50")
        
    #row2
      #saved_games
        div.label Saved Games
        if games.length > 0
          select(id="saved_games_lst")
            option(value=-1) No Selection
            each val, idx in games
              if val.active 
                option(value=idx) #{val.name}
              else 
                option(value=idx disabled) #{val.name} 
        else 
          |No Saved Games
        input(id="saved_games_btn" type="button" class="button" value="Go play!" height="35" width="50")
        input(id="delete_game_btn" type="button" class="button" value="Delete" height="35" width="50")
          
      #active_games
        div.label Acitve Games
        if a_games.length > 0
          select(id="active_games_lst")
            option(value=-1) No Selection
            each val, idx in a_games
              option(value=idx) #{val}
        else 
          |No Active Games
        input(id="active_games_btn" type="button" class="button" value="Go play!" height="35" width="50")
            
    #buttons
      #practice
        input(id="practice_btn" type="button" class="button" value="New Practice Game" height="35" width="50")
      #pickups
        div.label Pickup a game
        if gamers.length > 0
          select(id="pickup_lst")
            option(value=-1) No Selection
            each val, idx in gamers
              option(value=idx) #{val}
        else 
          |No pickups
          
        input(id="add_pickup_btn" type="button" class="button" value="Add your name?" height="35" width="50")
        input(id="play_pickup_btn" type="button" class="button" value="Play" height="35" width="50")
          
 
    // #row4
      #wait4
        | Wait for other player? Player name: 
        input(id="wait4_user_txt" type="text")
        input(id="wait4_btn" type="button" class="button" value="Submit" height="35" width="50")

      #invite
        form(action="invite")
          div.label Or, invite a frienemy to play!
          div.invite_name
            input(type="text" name="name" placeholder="name")
          div.email
            input(type="text" name="email" placeholder="foo@bar.com")
          button(type="submit") Invite!


    script(src="/js/user_home.js")
