//-
//- Copyright 2021 Richard Vassilaros 
//-

doctype html
html(lang="en")
  head
    title Let's Quibble!
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='views/user.css')
    //- link(rel="stylesheet" href="https://use.typekit.net/cdx8egk.css")
  body
    input(id="user_display_name" type="hidden" value=user.display_name)
    input(id="user" type="hidden" value=user.id.toHexString())
    input(id="ws_port" type="hidden" value=user.port)
    input(id="is_debug" type="hidden" value=is_debug)
    input(id="is_local" type="hidden" value=is_local)
    input(id="ws_addr" type="hidden" value=ws_addr)

    div(id="help_dialog" class="help" style="{display : none}")
      p Contact us with suggestions, bugs, quibbles or salutations at 
        a(id="mail_link" href="mailto:letsquibble878@gmail.com") Let's Quibble!
      div.sub_label Started Games
        p This is where all of your started games are listed. They stay in the list until finished. 
      div.sub_label Start A New Game 
      div.sub_label_small Invite A Friend
        p Clicking this button displays a dialog that allows the user to enter a name and email address and have Let's Quibble email an invitation to the specified person. When that user clicks the invitation link (or copy/pastes the link into a browser address bar) they are taken to Let's Quibble's Login and Registration page. Here they can register for an account (if they are not already registered) and then login to the game. A new game between the invitee and inviter is waiting, ready to play.
        p Or, the user can select from a dropdown list of friends or players and send an invitation.
      div.sub_label_small Pickup Game
        p This button displays a dialog with a dropdown list of players waiting for a pickup game. If there is a player in the list that you want to play, select the list item and click GO PLAY! You can also ADD YOUR NAME to the list and wait for an opponent to select your name. 
        p Once GO PLAY has been clicked a new game is started for the players. The player that clicks GO PLAY is player 1 and starts the game play.
      div.sub_label_small Practice Game
        p You play both sides; it's good practice for word-building and tactics.
      div#help_ctrls
        input(id="help_ok_btn" type="button" class="button" value="OK")

    div(id="invite_dialog" class="invite" style="{display : none}")
      p To invite a friend just enter your name (so we can say who the invitation is from) and your friend's name and email address and we'll send an invitation, setup a new game when they register and login and notify you that the game is waiting.
      p OR, select from your list of friends or a list of players that have opted in to receiving invitations.
      span#invite_lists
        div#friends_div Friends
          br
          select(id="friends_lst")
            option(value=-1) Select A Friend
            if friends && friends.length > 0
              each val, idx in friends
                option(value=val.email) #{val.name}
          input(id="remove_friend_btn" type="button" value="REMOVE FRIEND" )

        div#players_div Players
          br
          select(id="players_lst")
            option(value=-1) Select A Player
            if players && players.length > 0
              each val, idx in players
                if val.name != user.display_name && val.status & User.players_opt_in
                  option(value=val.email) #{val.name}
          if user.status & User.players_opt_in
            input(id="opt_in_players" class="opt_in_players" type="checkbox" checked=true)
          else
            input(id="opt_in_players" class="opt_in_players" type="checkbox")
          label(for="opt_in_players" class="opt_in_players") OPT-IN PLAYERS 

      div#invite_section
        div
          input(id="user_name" type="text" class="in_fields" value=user.display_name placeholder="Your Name (who the invitation is from)") 
        div
          input(id="friend_name" type="text" class="in_fields" placeholder="Friend's Name")
        div
          input(id="friend_email" type="text" class="in_fields" placeholder="Friend's Email Address")
        span
          br
          input(id="invite_friend_btn" type="button" class="button" value="INVITE A FRIEND") 
        input(id="cancel_invite_btn" type="button" class="button" value="CANCEL" )

    div(id="edit_invites_dialog" class="invite" style="{display : none}")
      p Your Pending Invitations
      table#invite_data_tbl
        th To:
        th Date:
        th Select:
        - var i = 0;
        while i < invites.length
          tr
            td #{invites[i].invitee_name}
            td #{invites[i].invite_date}
            td 
              input(id=invites[i].id type="checkbox" class="invite_del_chk" )
          - i++;

      span
        br
        input(id="edit_invites_done_btn" type="button" class="button" value="DELETE" )
        input(id="cancel_edit_invites_btn" type="button" class="button" value="CANCEL" )

    div(id="pickup_dialog" class="pickup" style="{display : none}")
      span.descrip2 Select a player from the available player pool 
      select(id="pickup_lst")
        option(value=-1) Select A Player
        each val, idx in gamers
          option(value=idx) #{val}
      input(id="play_pickup_btn" type="button" class="button" value="GO PLAY!")
      br
      span.descrip2 Or add your name to the available player pool
        br
        input(id="add_pickup_btn" type="button" class="button" value="ADD YOUR NAME" )
        input(id="cancel_pickup_btn" type="button" class="button" value="CANCEL" )

    #all
      #control_pnl
        span#logout
          input(id="help_btn" type="button" value="HELP" )
          if (user.role & User.admin)
            input(id="admin_btn" type="button" class="logout_button" value="ADMIN")
          input(id="logout_btn" type="button" class="logout_button" value="LOG OUT")
        #welcome
          |Let's Quibble, #{user.display_name}!
            
        #games
          div.sub_label Started Games
            select(id="games_lst")
              option(value=-1) Select A Game
              if games.length > 0
                each val, idx in games
                  if val.active 
                    option(value=idx) #{val.name}

            input(id="games_btn" type="button" class="button" value="GO PLAY!" )
            input(id="delete_game_btn" type="button" value="DELETE GAME" )
            
          - var num = `  (${gamers.length} Waiting)`;
          div.sub_label Start A New Game
            div.sub_label_small Invite A Friend
              br
              span.descrip To invite a friend we just need a name and email address
              br
              input(id="invite_btn" type="button" class="button" value="INVITE FRIEND")
              input(id="edit_invites_btn" type="button" value="DELETE INVITES" )

            div.sub_label_small Pickup Game 
              br
              span.descrip Play another waiting player or add your name to the list
                i#num_waiting #{num} 
              br
              input(id="pickup_btn" type="button" class="button" value="PICKUP GAME")

            div.sub_label_small Practice Game 
              br
              span.descrip Play yourself! A guaranteed win and good practice. 
              br
              input(id="practice_btn" type="button" class="button" value="PRACTICE")

    if is_local != "true" && is_staging != "true"
      script(src="/js/user_home.min.js")
    else
      script(src="/js/user_home.js")
