doctype html
html(lang="en")
  head
    title Word Heist!
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='views/user.css')
    link(rel="stylesheet" href="https://use.typekit.net/cdx8egk.css")
  body
    input(id="user_display_name" type="hidden" value=user.display_name)
    input(id="user" type="hidden" value=user.id.toHexString())
    input(id="ws_port" type="hidden" value=user.port)

    #all
      #control_pnl
        span#logout
          if (user.role & User.admin)
            input(id="admin_btn" type="button" class="logout_button" value="ADMIN")
          input(id="logout_btn" type="button" class="logout_button" value="LOG OUT")
        #welcome
          |Welcome, #{user.display_name}
            
        #games
          div.sub_label In-Process Games
            if games.length > 0
              select(id="games_lst")
                option(value=-1) Select A Game
                each val, idx in games
                  if val.active 
                    option(value=idx) #{val.name}

            input(id="games_btn" type="button" class="button" value="GO PLAY!" )
            input(id="delete_game_btn" type="button" value="DELETE GAME" )
            
          - var num = `(${gamers.length} Available)`;
          div.sub_label Start A New Game
            br
            span.descrip Select a player from the available player pool 
              i#num_waiting #{num} 
            select(id="pickup_lst")
              option(value=-1) Select A Player
              each val, idx in gamers
                option(value=idx) #{val}
            input(id="play_pickup_btn" type="button" class="button" value="GO PLAY!")
            br
            span.descrip Or add your name to the available player pool
            br
            input(id="add_pickup_btn" type="button" class="button" value="ADD YOUR NAME" )

          div.sub_label Practice Game 
            br
            span.descrip Play yourself! A guaranteed win and good practice. 
            br
            input(id="practice_btn" type="button" class="button" value="PRACTICE")

    script(src="/js/user_home.js")
